<div class="container-fluid span12">
  <div class="row">
    <div class="row-fluid">
      <div id="foreground">
        <div class="span6">
          <h4>Post-graduation plans can be scary</h4>
          <p>Alumni do lots of different things</p>
          <p>But they used to be just like you...</p>
        </div>
        <div class="span6">
          <h4>Discover Your Possibilities</h4>
          <p>Connect with an alumnus who can help<p>
          <p class="center">
            <%= link_to "Sign up", signup_path, class: "btn btn-signup" %>
          </p>
          <p>
            <small><%= link_to "Already a member?", signin_path, class: "simple-link pull-right" %></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>