<div class="container-fluid">
  <div id="splash-hero">
    <div class="row-fluid">
      <div class="span6">
        <h3>Post-graduation plans can be scary</h3>
        <p>Alumni do lots of different things</p>
        <p>But they used to be just like you...</p>
      </div>
      <div class="span6">
        <h3>Discover Your Possibilities</h3>
        <p>Connect with an alumnus who can help<p>
        <p class="center">
          <%= link_to "Sign up", signup_path, class: "btn btn-signup btn-large" %>
        </p>
        <br />
        <br />
        <p>
          <small><%= link_to "Already a member?", signin_path, class: "simple-link pull-right" %></small>
        </p>
      </div>
    </div>
  </div>
</div>