
<div id="page-wrap">
<div class="row-fluid">
<div class="span7 splash-box">
  <h3>Post-graduation plans can be scary</h3>
  <p>Alumni do lots of different things</p>
  <p>But they used to be just like you...</p>
</div>
<div class="span5 splash-box">
  <h3>Discover Your Possibilities</h3>
  <p>Connect with an alumnus who can help<p>
  <br />
  <p>
    <div class="btn btn-signup">Log In</div>
    <%= link_to "Sign up", signup_path, class: "btn btn-signup" %>
  </p>
</div>
</div>
</div>

<div id="bg">
  <img src="assets/splash.jpg" alt="">
</div>