<div class="row-fluid">
  <aside class="span3">
    <%= image_tag("demo.jpg") %>
  </aside>
  <aside class="span6">
    <section>
      <h1>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>