@import "bootstrap";

/* mixins, variables, etc. */

$grayLight: #999;
$grayMediumLight: #eaeaea;
$grayDark: #404040;
$skyBlue: #82CAFF;
$skyBlue2: #79BAEC;
$sansFontFamily: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontFamily: $sansFontFamily;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  font-family: $baseFontFamily;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.table th, .table td { 
     border-top: none; 
 }

select {
  padding: 0px;
}

.dropdown-menu { height:200px; }

/* Home page */

.hook {
  font-size: 2.0em;
  letter-spacing: -1px;
  font-weight: normal;
  .small {
    font-size: 1.5em;
  }
}

.hero-unit {
  background-color: $skyBlue;
  padding-left: 0px;
  padding-right: 0px;
}

.btn-large {
  font-weight: bold;
}

.btn-signup {
  background-color: $skyBlue;
  background-image: -moz-linear-gradient(top, $skyBlue, $skyBlue2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($skyBlue), to($skyBlue2));
  background-image: -webkit-linear-gradient(top, $skyBlue, $skyBlue2);
  background-image: -o-linear-gradient(top, $skyBlue, $skyBlue2);
  background-image: linear-gradient(to bottom, $skyBlue, $skyBlue2);
  *background-color: $skyBlue;
  color: black;
    &:hover, &:focus, &:active, .btn-signup.active, .btn-signup.disabled, .btn-signup[disabled] {
      color: $grayDark;
      background-color: $skyBlue2;
      *background-color: $skyBlue;
    }
    &:active,
    .btn-signup.active {
      background-color: $skyBlue \7;
    }
}

.gap-below {
  padding-bottom: 30%;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar-inverse .navbar-inner {
  .nav {
    a {
    color: white;
    &:hover {
      color: $grayLight;
    }
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* footer */

footer {
  margin-top: 55px;
  padding-top: 5px;
  a {
  color: white;
  &:hover {
    color: $grayLight;
  }
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
    }
  } 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* Splash Custom */

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#splash-logo {
  float: center;
  text-align: center;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1.5;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#foreground { position: relative; 
  left: 0; 
  right: 0;
  z-index: 2;
  max-width:80%;
  margin: auto;
  padding: 2%;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  border-color: #252525;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white;
  .btn-signup {
  color: black;
  font-weight: bold;
  a:hover {
    text-decoration:none;
    color: $grayDark;
  }
  }
}

.simple-link {
  color: white;
  a:hover {
    text-decoration:underline;
    color: white;
  }
}


/* This is needed to fix the dropdown menu in Bootstrap */
select, .uneditable-input {
  padding: 5px;
}